body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #F18F26;
  color: #292F33;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-weight: bold;
}
.card {
  background-color: #FFCC4E;
}
